#msg {
    color: #00FF00;
    background: #111;
    height: 450px;
    padding: 15px;
    overflow: scroll;
    font-family: monospace;
}
#msg pre {
    line-height: 150%;
}

#main {
    padding: 15px;
}
h1 {
    font-weight: bold;
}
form {
    margin-top: 12px;
}

#footer {
    padding: 15px;
    color: #666;
}
#footer a {
    color: #666;
}

#offline, #online {
    position: absolute;
    top: 15px;
    right: 15px;
}

#offline {
    color: #992222;
}
#online {
    color: #229922;
}

